---
title: #MaVoix
---

<div class="padded">
  <iframe width="1280" height="720" src="https://www.youtube.com/embed/uPEVzi4po90" frameborder="0" allowfullscreen></iframe>
</div>

<div class="welcome padded" id="discover">
  <div class="container">
    <div class="raw">
      <div class="col-xs-12">
        <h1>Je découvre</h1>
        <h1>#MaVoix kézako?</h1>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h3>Schéma</h3>
      </div>
      <div class="col-xs-12 col-sm-9">
        <p><strong>[la vision]</strong> Nous voulons faire entrer la démocratie dans l’ère de la multitude, de l’interdépendance, du partage et de la coopération.</p>
        <p><strong>[l'école]</strong> Nous développons des méthodes et des outils d’intelligence collective pour donner à tous les citoyens les capacités de s’approprier les enjeux, de se porter candidat, de proposer et de voter les lois.</p>
        <p><strong>[l'expérience]</strong> Nous expérimenterons ces nouvelles pratiques en faisant élire lors de l’élection législative de 2017 des volontaires formés et tirés au sort qui relaieront les décisions de leurs électeurs pendant 5 ans.</p>
      </div>
    </div>
  </div>
</div>

<div class="welcome text-center padded" id="participate">
  <div class="container">
    <div class="raw">
      <div class="col-xs-12">
        <h1>Je participe</h1>
        <h1>#MaVoix starts here, meet us!</h1>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Calendrier</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Réseaux sociaux</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Contact</h3>
      </div>
    </div>
  </div>
</div>
