---
title: #MaVoix
---

<div class="video-container padded">
  <iframe width="1280" height="720" src="https://www.youtube.com/embed/uPEVzi4po90?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="welcome padded" id="discover">
  <div class="container">
    <div class="raw">
      <div class="col-xs-12">
        <div class="text-center">
          <h1><strong>Je découvre</strong></h1>
          <br>
        </div>
      </div>
      <div class="col-xs-12">
        <h4><strong>[la vision]</strong> Nous voulons faire entrer la démocratie dans l’ère de la multitude, de l’interdépendance, du partage et de la coopération.</h4>
        <br>
        <h4><strong>[l'école]</strong> Nous développons des méthodes et des outils d’intelligence collective pour donner à tous les citoyens les capacités de s’approprier les enjeux, de se porter candidat, de proposer et de voter les lois.</h4>
        <br>
        <h4><strong>[l'expérience]</strong> Nous expérimenterons ces nouvelles pratiques en faisant élire lors de l’élection législative de 2017 des volontaires formés et tirés au sort qui relaieront les décisions de leurs électeurs pendant 5 ans.</h4>
      </div>
    </div>
  </div>
</div>

<div class="welcome text-center padded" id="participate" style="background: #FDB631">
  <div class="container">
    <div class="raw">
      <div class="col-xs-12">
        <h1><strong>Je participe</strong></h1>
        <h3>Rencontrons-nous !</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h4>Calendrier</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h4>Réseaux sociaux</h4>
        <div class="fb-page" data-href="https://www.facebook.com/myEuropeanDream.eu" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/myEuropeanDream.eu"><a href="https://www.facebook.com/myEuropeanDream.eu">myEuropeanDream.eu</a></blockquote></div></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h4>Contact</h4>
      </div>
    </div>
  </div>
</div>
