---
title: #MaVoix
---

<div class="video-container padded">
  <iframe width="1280" height="720" src="https://www.youtube.com/embed/uPEVzi4po90?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="welcome padded bg-home" id="discover">
  <div class="container">
    <div class="raw">
      <div class="col-xs-12">
        <div class="text-center">
          <h1><strong>Nouvelles voix</strong></h1>
          <br>
        </div>
      </div>
      <div class="col-xs-12">
        <p>Nous sommes de ceux qui n’arrivent plus à aller voter la tête haute.</p>
        <p>Certains d’entre nous ne votent plus du tout, d’autres votent blanc, ceux qui votent encore le font par défaut.</p>
        <p>Nous nous sentons piégés par un système politique qui ne nous respecte pas, ne nous entend pas.</p>
        <p>Le monde se construit déjà avec nous. Où que nous soyons, nous avons déjà pris nos responsabilités. Dans nos vies professionnelles, associatives, dans nos familles, dans nos quartiers, nos immeubles, les conseils d’école, nous sommes déjà debout à donner le meilleur de nous-mêmes pour le bien commun.</p>
        <p>Comme énormément de Français nous aimons la politique, nous aimons débattre, nous aimons participer, nous voulons faire quelque chose qui nous dépasse.</p>
        <p>Nous sommes multiples.</p>
        <p>Nous sommes tous différents.</p>
        <p>Nous ne sommes pas d’accord sur tout. Et c’est ça notre richesse. Nos expériences de vie montrent qu’il y a tant de chemins pour atteindre des résultats concrets.</p>
        <p>Nous voulons expérimenter. Pas à pas.</p>
        <p>Nous sommes en mouvement.</p>
        <p>Nous avons arrêté de regarder vers le haut avec espoir. Nous en constatons l'échec, nous le disons sans haine, ni colère.</p>
        <p>Et finalement, ils échouent les uns après les autres, car les règles datent des siècles passés, elles ne sont plus adaptées.</p>
        <p>Nous ne voulons plus signer de chèque en blanc à des partis politiques.</p>
        <p>Nous allons construire une offre politique qui ressemble au monde que nous dessinons jour après jour : libre, connecté, coopératif, interdépendant, concret.</p>
        <p>Nous voulons que chacun de nos actes soit émancipateur pour nous tous.</p>
        <p>Nous voulons prendre notre place à la table des décisions.</p>
        <p>Nous voulons co-construire le monde tel que nous, les gens, l'aurons décidé.</p>
        <p>Nous nous mettons en marche de manière collective, horizontale, débarrassée des quêtes de pouvoirs personnelles et des postures partisanes stériles.</p>
        <p>Nous allons entrer à l’Assemblée Nationale.</p>
        <p>En juin 2017.</p>
        <p>Pas dans le poulailler, là où nous sommes parqués aujourd’hui, ou devant notre télé.</p>
        <p>Non, nous allons entrer pour de vrai. Gagner des sièges, des circonscriptions.</p>
        <p>Nous voulons faire entrer la Démocratie dans l’ère de la multitude, de l’interdépendance, du partage et de la coopération.</p>
        <p>Nous développons des méthodes et des outils d’intelligence collective pour donner à tous les citoyens les capacités de s’approprier les enjeux, de se porter candidat, de proposer et de voter les lois.</p>
        <p>Nous expérimenterons ces nouvelles pratiques en faisant élire lors de l’élection législative de 2017 des volontaires formés et tirés au sort qui relaieront les décisions de leurs électeurs pendant 5 ans.</p>
        <p>A plein de femmes et d’hommes, nous serons plus intelligents qu’un seul être humain. Surtout qu’il est prisonnier aujourd’hui à l’Assemblée des logiques de partis.</p>
        <p>Nos députés ne seront pas seuls face aux lobbies ou aux experts. La force du nombre leur permettra d'affronter la puissance de l'institution.</p>
        <p>Emanation de leurs électeurs, députés aux milles visages, les nôtres ; ils seront le prolongement de notre volonté individuelle.</p>
        <p>Nous déciderons collectivement ce que le député votera.</p>
        <p>Pas sur une loi.</p>
        <p>Non, sur toutes les lois.</p>
        <p>Pendant 5 ans. A chaque fois qu’un sujet nous passionnera.</p>
        <p>A chaque fois qu’une loi heurtera nos libertés, nos valeurs, nos principes.</p>
        <p>Plus jamais sans nous.</p>
        <p>Cette idée, c’est essayer la « démocratie » au sens propre.</p>
        <p>En 2017 nous entrons à l'Assemblée avec suffisamment de sièges pour pouvoir démarrer une expérience inédite.</p>
        <p>Dans le monde entier des mouvements naissent, répondant tous à la même soif de démocratie. Allemagne, Mexique, Argentine, Italie, Espagne, Islande, Grèce, Irlande, Canada, Tunisie et dans des villes et villages français.</p>
        <p>Partout dans le monde des initiatives portent la volonté des Peuples à prendre leur place à la table des décisions.</p>
        <p>Et nous, ici sommes-nous prêts ?</p>
      </div>
    </div>
  </div>
</div>

<div class="welcome text-center padded" id="participate" style="background: #FFB710">
  <div class="container">
    <div class="raw">
      <div class="col-xs-12">
        <h1><strong>Fais entendre ta voix</strong></h1>
        <h3>Rencontrons-nous</h3>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h4>Lors de nos prochains rendez-vous...</h4>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h4>ou sur nos réseaux sociaux !</h4>
        <div class="logo-social">
          <a href="https://www.facebook.com/mavoixjuin2017"><i class="fa fa-facebook-square" style="color: black"></i></a>
          <a href="https://www.facebook.com/mavoixjuin2017"><i class="fa fa-twitter-square" style="color: black"></i></a>
          <a href="https://www.facebook.com/mavoixjuin2017"><i class="fa fa-youtube-play"style="color: black"></i></a>
        </div>
        <!-- <div class="fb-page" data-href="https://www.facebook.com/myEuropeanDream.eu" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/myEuropeanDream.eu"><a href="https://www.facebook.com/myEuropeanDream.eu">myEuropeanDream.eu</a></blockquote></div></div> -->
      </div>
    </div>
  </div>
</div>
